.image-row {
    display: flex;
    justify-content: center;
    gap: 56px;
    flex-wrap: wrap;
}

.pentagon {
    width: 190px;
    height: 190px;
    background-color: #f76c6c;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    flex: 1 1 calc(25% - 56px);
    position: relative;
    text-align: center;
    color: white;
    line-height: 26px;
}

.pentagon span {
    margin-top: 30px;
    font-weight: bold;
    font-size: 46px;
}

.pentagon .small-text {
    font-size: 14px;
    display: block;
    margin-top: 20px;
    font-weight: normal;
}

/* Responsive */
@media screen and (max-width: 1024px) and (min-width: 481px) {
    .image-row {
        padding: 20px;
    }

    .pentagon {
        flex: 1 1 calc(50% - 56px);
    }
}

@media screen and (max-width: 480px) {
    .pentagon {
        flex: 0 0 190px;
        margin: 0 auto;
    }
}


